body{
  background-color: #252525;
}


.neko-title{
  animation: pulse 5s linear infinite;
  padding: 8px 24px;
  border: 1px solid white;
  border-radius: 48px; 
  box-shadow: inset 0px 0px 20px 5px red;
}

@keyframes pulse {

  0%{
    color: purple;
    border-top: 1px solid purple;
    border-left: 1px solid green;
    border-bottom: 1px solid skyblue;
    border-right: 1px solid blue;
    box-shadow: inset 0px 0px 20px 5px skyblue;
  }
  25%{
    color: skyblue;
    border-top: 1px solid skyblue;
    border-left: 1px solid blue;
    border-bottom: 1px solid purple;
    border-right: 1px solid green;
    box-shadow: inset 0px 0px 20px 5px purple;
  }
  50%{
    color: blue;
    border-top: 1px solid blue;
    border-left: 1px solid purple;
    border-bottom: 1px solid green;
    border-right: 1px solid skyblue;
    box-shadow: inset 0px 0px 20px 5px green;
  }

  75%{
    color: white;
    border-top: 1px solid purple;
    border-left: 1px solid green;
    border-bottom: 1px solid skyblue;
    border-right: 1px solid blue;
    box-shadow: inset 0px 0px 20px 5px blue;
  }

  100%{
    color: purple;
    border-top: 1px solid purple;
    border-left: 1px solid green;
    border-bottom: 1px solid skyblue;
    border-right: 1px solid blue;
    box-shadow: inset 0px 0px 20px 5px skyblue;
  }
}